<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Welcome: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Log out" onclick="location.href='/logout';" class="btn btn-warning" />
 		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Edit profile" onclick="location.href='/editar_perfil';" class="btn btn-warning" />
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/grafico">Monitoring</a></li>
			<li><a href="/pronostico">Forecast</a></li>
                        <li class="active"><a href="/estadisticas">Statistics</a></li>
                        <li><a href="/geolocalizacion">Geolocation</a></li>
                        <li><a href="/METAR_TAF">METAR-TAFOR</a></li>                     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

   <div style="background:transparent !important" class="jumbotron">
    <div id="inputs">
    	<p>Date: <input type="text" id="datepicker" /></p>
    </div>
     <div>
	<select name="tiempo" id="tiempo" >    
		<option value="diario" selected="selected">Daily</option>
		<option value="semanal">Weekly</option>>
		<option value="mensual">Monthly</option>>
		<option value="anual">Annual</option>
	</select>

	<input type="checkbox" name="afirmar" id="afirmar" value="afirmar">Chart

	<select style="display:none;" name="data_grafico" id="data_grafico" >    
		<option value="temperatura" selected="selected">Temperature</option>
		<option value="presion">Atmospheric pressure</option>
		<option value="vel_viento">Wind Speed</option>
		<option value="dir_viento">Wind Direction</option>
		<option value="humedad">Humidity</option>
	</select>

	<select style="display:none;" name="shape_grafico" id="shape_grafico" >    
		<option value="column" selected="selected">3D Column</option>
		<option value="spline">Spline</option>
	</select>

    <div id="chart"></div>	

    <!--Highcharts-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script>

	var checkbox = false;
	$("#chart").hide();
	var mySeries = [];
        var myFechas = [];

	//Servicio para obtener o actualizar el clima seleccionado por el usuario
	var clima = "temperatura";

	function setClima(tipoAasignar) {
	  clima = tipoAasignar;
	}

	function getClima() {
	  return clima;
	}
	
	//Hace peticiones al servidor para actualizar los datos del gráfico
	function loadAjaxClima(){

	  $.ajax({
		  type: 'GET',
		  url: '/getDatosAtmosfericos?fecha=' + window.fecha + '&tiempo=' + window.tiempo,
		  data: $(this).serialize(),
		  dataType: 'json',
		  success: function (data) {
			 $('table').html(
			    function(){
				for(var i = 0; i < data.length; i++){
				  myFechas.push([data[i].fecha]);

				  if (checkbox == true){
				      switch(getClima()){
				      	case 'temperatura':
				      		mySeries.push([i, data[i].temperatura]);
						break;
					case 'presion':
				      		mySeries.push([i, data[i].presion]);
						break;
					case 'vel_viento':
				      		mySeries.push([i, data[i].vel_viento]);
						break;
					case 'dir_viento':
				      		mySeries.push([i, data[i].dir_viento]);
						break;
					case 'humedad':
				      		mySeries.push([i, data[i].humedad]);
						break;
				      }
				  }
				}

				load();
				mySeries = [];
				myFechas = [];
			    }
			)
		  }
          });

	}

	//Si la checkbox cambia, dependiendo de si está seleccionada o no, vamos a proceder a mostrar el gráfico y su select asociado
	$('#afirmar').change(function() { 
	   	if($("#afirmar").is(':checked')){				//Si la checkbox está seleccionada
		    $("#data_grafico").show();					//Mostramos los dos select asociados y el gráfico
		    $("#shape_grafico").show();
		    $("#chart").show();
	  	    loadAjaxClima();						//Llamamos a AJAX para actualizar el gráfico
		   // document.getElementById("tiempo").disabled = true;		//Deshabilitamos el select asociado a tiempo que no sirve para el gráfico
		    //$("#tiempo [value='diario']").attr("selected","selected");	//Habilitamos por defecto "Diario", ya que los datos van a ser diarios
		    checkbox = true;

		} else {							//Si la checkbox no está seleccionada
		    $("#data_grafico").hide();					
		    $("#shape_grafico").hide();					//Escondemos los select asociados y el gráfico
		    $("#chart").hide();
		   // document.getElementById("tiempo").disabled = false;		//Activamos el select Tiempo que sí sirve para la tabla
		    checkbox = false;
		}
	});

       $('#data_grafico').change(function () {			//Evento que obtiene el tipo de dato a mostrar en el gráfico y actualiza este
	  var dato_clima = document.getElementById('data_grafico').value;
	  setClima(dato_clima);
	  loadAjaxClima();
	});

       $('#shape_grafico').change(function () {			//Evento que obtiene el tipo de dato a mostrar en el gráfico y actualiza este
	  var forma_grafico = document.getElementById('shape_grafico').value;
	  window.forma = forma_grafico;
	  loadAjaxClima();
   
	});

	$(document).ready(				//Lanza la selección de fecha
		function () {
		    $( "#datepicker" ).datepicker({
		      dateFormat: "dd-mm-yy",
		      changeMonth: true,
		      changeYear: true 
		    });
		}
	);
     
       $('#tiempo').change(function(){			//Select asociado al tiempo
	  var tipo_tiempo = document.getElementById('tiempo').value;
	  window.tiempo = tipo_tiempo;     		//Almacenamos la variable para poder usarla en el evento de abajo
          var tipo_dat = window.fecha;

	  $.ajax({
		  type: 'GET',
		  url: '/getDatosAtmosfericos?fecha=' + tipo_dat + '&tiempo=' + tipo_tiempo,
		  data: $(this).serialize(),
		  dataType: 'json',
		  success: function (data) {
			 $('table').html(
			    function(){
				var content = '<table class="table table-striped"><thead><tr><th>Date</th><th>Temperature</th><th>Atm. pressure</th><th>Wind</th><th>Humidity</th></tr></thead><tbody>'; 
				for(var i = 0; i < data.length; i++){
				      content = content+'<tr><td style="font-size:14px;">' + data[i].fecha + ' UTC</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].temperatura + ' ºC</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].presion + ' hPa</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].vel_viento + ' kph - ' + data[i].dir_viento + ' º</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].humedad + '%</td>';
				      myFechas.push([data[i].fecha]);

				      if (checkbox == true){

					      switch(getClima()){
					      	case 'temperatura':
					      		mySeries.push([i, data[i].temperatura]);
							break;
						case 'presion':
					      		mySeries.push([i, data[i].presion]);
							break;
						case 'vel_viento':
					      		mySeries.push([i, data[i].vel_viento]);
							break;
						case 'dir_viento':
					      		mySeries.push([i, data[i].dir_viento]);
							break;
						case 'humedad':
					      		mySeries.push([i, data[i].humedad]);
							break;
					      }
				     }
				}

				load();						//Pintamos el gráfico con los datos del array
				mySeries = [];
				myFechas = [];
				content = content + '</tr></tbody></table>';
				return content;
			    }
			)
		  }
          });
       });

       $('#datepicker').change(function () {		//Actualiza los datos al cambiar de fecha,sin recargar la página, utilizando AJAX

	  var tipo_dato = document.getElementById('datepicker').value;
	  window.fecha = tipo_dato;
	  var tipo_tiem = window.tiempo;		//Recuperamos la variable anteriormente almacenada
	  clima = window.clima;

	  $.ajax({
		  type: 'GET',
		  url: '/getDatosAtmosfericos?fecha=' + tipo_dato + '&tiempo=' + tipo_tiem,
		  data: $(this).serialize(),
		  dataType: 'json',
		  success: function (data) {		//Recarga dinámica de contenido HTML sin actualizar la paǵina
			 $('table').html(
			    function(){
				var content = '<table class="table table-striped"><thead><tr><th>Date</th><th>Temperature</th><th>Atm. pressure</th><th>Wind</th><th>Humidity</th></tr></thead><tbody>';

				for(var i = 0; i < data.length; i++){
				      content = content+'<tr><td style="font-size:14px;">' + data[i].fecha + ' UTC</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].temperatura + ' ºC</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].presion + ' hPa</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].vel_viento + ' kph - ' + data[i].dir_viento + ' º</td>';
				      content = content + '<td style="font-size:16px;">' + data[i].humedad + '%</td>';
				      myFechas.push([data[i].fecha]);

				      if (checkbox == true){

					      switch(getClima()){
					      	case 'temperatura':
					      		mySeries.push([i, data[i].temperatura]);
							break;
						case 'presion':
					      		mySeries.push([i, data[i].presion]);
							break;
						case 'vel_viento':
					      		mySeries.push([i, data[i].vel_viento]);
							break;
						case 'dir_viento':
					      		mySeries.push([i, data[i].dir_viento]);
							break;
						case 'humedad':
					      		mySeries.push([i, data[i].humedad]);
							break;
					      }
				     }

				}

				load();						//Pintamos el gráfico con los datos del array
				mySeries = [];
				myFechas = [];
				content = content + '</tr></tbody></table>';

				return content;
			    }
			)
		  }
          });
   
       });

	//GRÁFICO HIGHCHART DE ESTADÍSTICAS

       function load(){
		var chart = new Highcharts.Chart({
			chart: {
				renderTo: 'chart',
				type: 'column',
				margin: 75,
				marginTop:100,
				options3d: {
					enabled: true,
					alpha: 0,
					beta: 0,
					depth: 50,
					viewDistance: 25
				}
			},
			title: {
				text: '',
			},
			subtitle: {
				text: ''
			},

			xAxis: {
			      categories: myFechas,
			      labels: {
				 style: {
				    fontSize:'9px'
				 }
			      }
			},

			yAxis: {
				allowDecimals: false,
				min: 0,
				max: 1000,
				title: {
					text: 'ºC'
				}
			},
			plotOptions: {
				column: {
					depth: 25
				}
			},
			legend: {
			    layout: 'vertical',
			    align: 'left',
			    x: 600,
			    verticalAlign: 'top',
			    y: 40,
			    floating: true,
			    backgroundColor: '#FFFFFF'
			},
			series: [{ 
			    name: 'Temperatura',
			    data: mySeries
			}]
	});

	switch(getClima()){			//Dependiendo del dato atmosférico seleccionado vamos cambiando los valores
		case 'temperatura':		//Cambios dinámicos de extremos, título y nombre de series tanto para presión como para temperatura
		     chart.yAxis[0].setExtremes(0, 50);
		     chart.yAxis[0].axisTitle.attr({
			text: 'ºC'
		     });
		     chart.series[0].update({name:"Temperature"}, false);
		     chart.redraw();
		     break;

		case 'presion':
		     chart.yAxis[0].setExtremes(0, 1500);
		     chart.yAxis[0].axisTitle.attr({
			text: 'hPa'
		     });
	             chart.series[0].update({name:"Atmospheric pressure"}, false);
		     chart.redraw();
		     break;

		case'vel_viento':
		     chart.yAxis[0].setExtremes(0, 50);
		     chart.yAxis[0].axisTitle.attr({
			text: 'kph'
		     });
	             chart.series[0].update({name:"Wind speed"}, false);
		     chart.redraw();
		     break;

		case 'dir_viento':
		     chart.yAxis[0].setExtremes(0, 360);
		     chart.yAxis[0].axisTitle.attr({
			text: 'º'
		     });
	             chart.series[0].update({name:"Wind direction"}, false);
		     chart.redraw();
		     break;

		case 'humedad':
		     chart.yAxis[0].setExtremes(0, 100);
		     chart.yAxis[0].axisTitle.attr({
			text: '%'
		     });
	             chart.series[0].update({name:"Humidity"}, false);
		     chart.redraw();
		     break;
	}

  	if(window.forma == 'spline'){	//Si la forma "Línea" está seleccionada, pintamos el gráfico con dicha forma. En caso contrario, como columna 3D
	     chart.series[0].update({
	    	type: window.forma
	     });
	}

      }

   </script>

<table class="table1 table-striped">

<thead><tr>
<th>Date</th><th>Temperature</th><th>Atm. pressure</th><th>Wind</th><th>Humidity</th></tr></thead>
<tbody>

	  {% for datos in datos_atmos %}

	  <tr>
	      <td style="font-size:14px;">{{datos.fecha}}</td>
	      <td style="font-size:16px;">{{datos.temperatura}} ºC</td>
	      <td style="font-size:16px;">{{datos.presion}} hPa </td>
	      <td style="font-size:16px;">{{datos.vel_viento}} kph - {{datos.dir_viento}} º</td>
	      <td style="font-size:16px;">{{datos.humedad}} %</td>
          </tr>

	  {% endfor %}

</tbody>
</table>
</div>
</div>
{{footer|safe}}

</body>
</html>
