<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<!--/Toggle button Bootstrap-->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!--Freeow javascript alert-->
<script type="text/javascript" src="../static/js/jquery.freeow.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/freeow.css" />

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/simple-sidebar.css" />

<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Welcome: <b>{{user.usuario}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Log out" onclick="location.href='/logout';" class="btn btn-warning" />
		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Edit profile" onclick="location.href='/editar_perfil';" class="btn btn-warning" />
		    {% if user.tipo == 'admin' %}
 		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Users" onclick="location.href='/usuarios';" class="btn btn-warning" />
		    {% endif %}

            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/grafico">Monitoring</a></li>
			<li><a href="/pronostico">Forecast</a></li>
                        <li><a href="/estadisticas">Statistics</a></li>
                        <li class="active"><a href="/geolocalizacion">Geolocation</a></li>
                        <li><a href="/METAR_TAF">METAR-TAFOR</a></li>                     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li style="font-size:250%;color:white;text-align:center;margin-bottom:5%;margin-top:5%;"><p><b><u>Toolbar </u></b></p></li>
		<div id="recargar">
                <li><label style="color:white" >Coord:&nbsp;</label><span style="font-size:90%;" class="label label-default">{{lat}}, {{lng}}</span></li>
		<li><label style="color:white" >Altitude:&nbsp;</label><span style="font-size:90%;" class="label label-default">{{alt}} m</span></li>
		<li><label style="color:white">Speed:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span style="font-size:90%;" class="label label-default">{{vel}} m/s</span></li>
		</div>

		<hr  size="6" noshade>

                <li><input type="checkbox" value="airport" id="airport" name="airport" data-toggle="toggle" data-on="Airport detection" data-off="No airport detection" data-onstyle="default"></li>
		<li><input type="checkbox" value="city" id="city" name="city" data-toggle="toggle" data-on="Population detection" data-off="No population detection" data-onstyle="default"></li>
		<li><input type="checkbox" value="flight" id="flight" name="flight" data-toggle="toggle" data-on="Air traffic detection" data-off="No air traffic detection" data-onstyle="default"></li>
		<li><input type="checkbox" value="sound" id="sound" name="sound" data-toggle="toggle" data-on="Alert sound" data-off="No alert sound" data-onstyle="default"></li>

		<hr  size="6" noshade>

                <li><label style="color:white"><u>Sunrise:</u> {{sunset_sunrise.results.sunrise}} UTC</label></li>
		<li><label style="color:white"><u>Sunset:</u> {{sunset_sunrise.results.sunset}} UTC</label></li>
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper">
            <div class="container-fluid">

		{% if error != '' %}
		   <div id="mensaje_error" class="alert alert-danger">{{error}}</div>
		{% endif %}

		<div id="fail"></div>
                 <i id="menu-toggle" class="fa fa-arrow-left fa-2x" style="margin-bottom:3%;" aria-hidden="true"></i>
		<div id="map-canvas"></div>
	    </div>
	</div>

</div>

  <div id="freeow-trCity" class="freeow freeow-bottom-left2"></div>
  <div id="freeow-trAirport" class="freeow freeow-bottom-right2"></div>
  <div id="freeow-trFlight" class="freeow freeow-bottom-right"></div>
  <div id="freeow-trAltitude" class="freeow freeow-bottom-left"></div>

    <!-- Libreria proyecto js -->

    <script type='text/javascript' src='../static/js/iDronDataAnalyzer/utils_geolocalizacion.js'></script> 
     
    <!-- Google maps (Places API, elevation service and maps API)-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeg7_wBHhNsW24D8To6ywYLweM-83sN7E&signed_in=true&libraries=places&callback=initialize" async defer></script>

</body>
</html>
