<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<!--/Toggle button Bootstrap-->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Welcome: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Log out" onclick="location.href='/logout';" class="btn btn-warning" />
		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Edit profile" onclick="location.href='/editar_perfil';" class="btn btn-warning" />
		    {% if sesion == 'admin' %}
 		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Users" onclick="location.href='/usuarios';" class="btn btn-warning" />
		    {% endif %}

            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/grafico">Monitoring</a></li>
			<li><a href="/pronostico">Forecast</a></li>
                        <li><a href="/estadisticas">Statistics</a></li>
                        <li class="active"><a href="/geolocalizacion">Geolocation</a></li>
                        <li><a href="/METAR_TAF">METAR-TAFOR</a></li>                     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <div style="background:transparent !important" class="jumbotron">
    <div id="border1">
    <div id="recargar" class="row">
	  <div style="float:left;margin-left:5%;">
	  	<label>Coordinates:&nbsp; </label><span style="font-size:80%;" class="label label-default">&nbsp;{{lat}}, {{lng}}</span>
	  </div>
	  <div style="float:left;margin-left:10%;">
	   	<label>Altitude:&nbsp; </label><span style="font-size:80%;" class="label label-default">&nbsp;{{alt}} m</span>
	  </div>
	  <div style="float:left;margin-left:10%;">
	  	<label>Speed:&nbsp; </label><span style="font-size:80%;" class="label label-default">&nbsp;{{vel}} m/s</span>
	  </div>
    </div>

    <hr  size="6" noshade>

   {% if error != '' %}
      <div id="mensaje_error" class="alert alert-danger">{{error}}</div>
   {% endif %}

    <div id="recargar" class="row">
	<div style="margin-top:30px;">
	  <div style="float:left;margin-left:18%;">
	    <input type="checkbox" value="airport" id="airport" name="airport" data-toggle="toggle" data-on="Airport detection" data-off="No airport detection" data-onstyle="default">
	  </div>
          <div style="float:left;margin-left:10%;">
	    <input type="checkbox" value="city" id="city" name="city" data-toggle="toggle" data-on="Population detection" data-off="No population detection" data-onstyle="default">
	  </div>
          <div style="float:left;margin-left:10%;">
	    <input type="checkbox" value="flight" id="flight" name="flight" data-toggle="toggle" data-on="Air traffic detection" data-off="No air traffic detection" data-onstyle="default">
	  </div>
	</div>
    </div>
    <div id="fail"></div>
    </div>
   <div class="row">
	  <div style="float:left;margin-left:10%;">
	  	<label><u>Sunrise:</u> {{sunset_sunrise.results.sunrise}} UTC</label>
	  </div>
          <div style="float:left;margin-left:15%;">
	    <input type="checkbox" value="sound" id="sound" name="sound" data-toggle="toggle" data-on="Alert sound" data-off="No alert sound" data-onstyle="default">
	  </div>
	  <div style="float:left;margin-left:15%;">
	  	<label><u>Sunset:</u> {{sunset_sunrise.results.sunset}} UTC</label>
	  </div>
    </div>

    <div id="map-canvas" class="jumbotron"></div>
    </div>

{{footer|safe}}

    <!-- Libreria proyecto js -->

    <script type='text/javascript' src='../static/js/iDronDataAnalyzer/utils_geolocalizacion.js'></script> 
     
    <!-- Google maps (Places API, elevation service and maps API)-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeg7_wBHhNsW24D8To6ywYLweM-83sN7E&signed_in=true&libraries=places&callback=initialize" async defer></script>

</body>
</html>
