<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/dron_geo.png" type="image/x-icon" />
    <title>iDron Data Analyzer</title>
	
    <!-- core CSS -->

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <!-- Libreria Bootstrap js -->

    <script type='text/javascript' src='../static/iDronDataAnalyzer_js/bootstrap.js'></script>
    <script type='text/javascript' src='../static/iDronDataAnalyzer_js/bootstrap.min.js'></script>

    <!-- Google maps -->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeg7_wBHhNsW24D8To6ywYLweM-83sN7E&sensor=true"> </script>

    <!-- Libreria proyecto js -->

    <script type='text/javascript' src='../static/iDronDataAnalyzer_js/iDronDataAnalyzer_utils.js'></script> 
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    
    <!-- Load jQuery JS -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!-- Load jQuery UI Main JS  -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
</head><!--/head-->
