<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Welcome: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Log out" onclick="location.href='/logout';" class="btn btn-warning" />
		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Edit profile" onclick="location.href='/editar_perfil';" class="btn btn-warning" />

		    {% if sesion == 'admin' %}
 		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Users" onclick="location.href='/usuarios';" class="btn btn-warning" />
		    {% endif %}

            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/grafico">Monitoring</a></li>
			<li><a href="/pronostico">Forecast</a></li>
                        <li><a href="/estadisticas">Statistics</a></li>
                        <li><a href="/geolocalizacion">Geolocation</a></li>
                        <li><a href="/METAR_TAF">METAR-TAFOR</a></li>                  
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(../static/images/bg_services.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Live drone tracking</h1>
                                    <h2 class="animation animated-item-2">This application has a toolset to capture  real time  data whose fate is security for drones. At bottom side, it explains briefly every one of them.</h2>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="../static/images/drone_snow.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

      </div>
      </section>

    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our service</h2>
                <p class="lead">Summary of every tool:</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../static/images/services/services1.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Monitoring</h3>
                            <p>Live weather data tracking when drone is flying.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../static/images/services/logo_estadistica.jpg">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Statistics</h3>
                            <p>Data analysis. Charts and tables.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../static/images/services/metar_taf.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">METAR-TAFOR</h3>
                            <p>Live weather data tracking from the nearest airport.</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../static/images/services/logo_android.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Android app</h3>
                            <p>Communication between server and drone.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../static/images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Geolocation</h3>
                            <p>Geolocation and detection of forbidden areas.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="../static/images/services/logo_pronostico.jpg">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Forecast</h3>
                            <p>Daily or hourly forecast (wind, temperature...).</p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->
   

{{footer|safe}}

</body>
</html>
