<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Ha iniciado sesión como: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Cerrar sesión" onclick="location.href='/logout';" class="btn btn-warning" />
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/grafico">Monitorización</a></li>
			<li class="active"><a href="/pronostico">Pronóstico</a></li>
                        <li><a href="/estadisticas">Estadísticas</a></li>
                        <li><a href="/geolocalizacion">Geolocalización</a></li>
                        <li><a href="/METAR_TAF">METAR-TAF</a></li>
                        <li><a href="/streaming">Streaming</a></li> 
                        <li><a href="/editar_perfil">Editar perfil</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

   <div style="background:transparent !important" class="jumbotron">
   <form id="form_pronos" role="form" onsubmit="return Valida_pronostico(this);" method="post" action="/pronostico">
    <div id="inputs">
	<label>Introduce latitud: </label>
        <input id="latitud" type="text" class="form-control" name="latitud" value="{{latitud_actual}}" placeholder="Latitud">
	<label>Introduce longitud: </label>
	<input id="longitud" type="text" class="form-control" name="longitud" value="{{longitud_actual}}" placeholder="Longitud">
    </div>
    <div id="radiobuttons">
	<div class="radio">
	  <label><input type="radio" value="horas" name="optradio" checked="checked">Pronóstico por horas</label>
	</div>
	<div class="radio">
	  <label><input type="radio" value="dias" name="optradio">Pronóstico por días</label>
	</div>
     </div>
    <button id="boton-enviar" name="boton-enviar" type="submit" class="btn btn-danger">Realizar pronóstico</button>
   </form> 

<table class="table table-striped">
{% if radio_elegido == 'horas' or radio_elegido == 'dias' %}

{% if error != '' %}
  <div id="mensaje_error" class="alert alert-danger">{{error}}</div>
{% endif %}

<thead><tr>
{% if radio_elegido == 'horas' %}
  <th>Hora</th>
{% endif %}

{% if radio_elegido == 'dias' %}
  <th>Día</th>
{% endif %}

<th>Máx/Mín</th><th>Descripción</th><th>Viento</th><th>Humedad</th></tr></thead>
<tbody>

	  {% for datos in array_datos %}

	  <tr>
	      {% if radio_elegido == 'horas' %}
	      	      <td style="font-size:14px;">{{datos.FCTTIME.hour}}h {{datos.FCTTIME.weekday_name_abbrev}}, {{datos.FCTTIME.mday}}.{{datos.FCTTIME.month_name_abbrev}}</td>
		      <td>{{datos.temp.metric}}/{{datos.dewpoint.metric}} ºC</td>
		      <td style="font-size:16px;">{{datos.condition}} <img src="{{datos.icon_url}}" style="width:40px;height:40px;"></td>
		      <td style="font-size:16px;">{{datos.wdir.dir}} - {{datos.wspd.metric}} kph - {{datos.wdir.degrees}}º</td>
		      <td style="font-size:16px;">{{datos.humidity}} %</td>
	      {% endif %}

	      {% if radio_elegido == 'dias' %}
		      <td style="font-size:14px;">{{datos.date.weekday_short}}, {{datos.date.day}} de {{datos.date.monthname_short}}</td>
		      <td>{{datos.high.celsius}}/{{datos.low.celsius}} ºC</td>
		      <td style="font-size:16px;">{{datos.conditions}} <img src="{{datos.icon_url}}" style="width:40px;height:40px;"></td>
		      <td style="font-size:16px;">{{datos.avewind.dir}} - {{datos.avewind.kph}} kph - {{datos.avewind.degrees}}º</td>
		      <td style="font-size:16px;">{{datos.avehumidity}} %</td>
	      {% endif %}
          </tr>

	  {% endfor %}

  </tbody>
{% endif %}
</table>
 </div>

{{footer|safe}}

</body>
</html>
