<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/dron_geo.png" type="image/x-icon" />
    <title>iDron Data Analyzer</title>
	
	<!-- core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<script type="text/javascript">
	
	 function Valida(form) {

		  var latitud = document.getElementById("latitud").value;
		  var longitud = document.getElementById("longitud").value;
			
		  if(latitud.length == 0) { //¿Tiene 0 caracteres?
		    alert('Introduce latitud'); //Mostramos el mensaje
		
		    return false; 
		  }

		  if(longitud.length == 0) { //¿Tiene 0 caracteres?
		    alert('Introduce longitud'); //Mostramos el mensaje
		
		    return false; 
		  }
		
		  return true; 
  
	 }
	  

</script>
<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Ha iniciado sesión como: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Cerrar sesión" onclick="location.href='/logout';" class="btn btn-warning" />
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/grafico">Monitorización</a></li>
			<li class="active"><a href="/pronostico">Pronóstico</a></li>
                        <li><a href="portfolio.html">Estadísticas</a></li>
                        <li><a href="/geolocalizacion">Geolocalización</a></li>
                        <li><a href="portfolio.html">Foro</a></li>
                        <li><a href="blog.html">Streaming</a></li> 
                        <li><a href="/editar_perfil">Editar perfil</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

   <div style="background:transparent !important" class="jumbotron">
   <form role="form" onsubmit="return Valida(this);" method="post" action="/pronostico">
    <div id="inputs">
	<label>Introduce latitud: </label>
        <input id="latitud" type="text" class="form-control" name="latitud" placeholder="Latitud">
	<label>Introduce longitud: </label>
	<input id="longitud" type="text" class="form-control" name="longitud" placeholder="Longitud">
    </div>
    <div id="radiobuttons">
	<div class="radio">
	  <label><input type="radio" value="horas" name="optradio" checked="checked">Pronóstico por horas</label>
	</div>
	<div class="radio">
	  <label><input type="radio" value="dias" name="optradio">Pronóstico por días</label>
	</div>
     </div>
    <button id="boton-enviar" name="boton-enviar" type="submit" class="btn btn-success">Realizar pronóstico</button>
    <div id="leyenda">
	<p><b>Medidas:</b></p>
	<p>Temperatura: Fahrenheit <br/></p>
        <p>Humedad: Entre 0 y 1<br/></p>
	<p>Velocidad Viento: m/s<br/></p>
        <p>Dirección Viento: Grados º <br/></p>
	<p>Probabilidad de precipitación: Entre 0 y 1 <br/></p>
	<p>Visibilidad: Entre 0 y 10 <br/></p>

    </div>
   </form> 
<table class="table table-striped">
<thead><tr><th>Temperatura</th><th>Humedad</th><th>Velocidad Viento</th><th>Dirección Viento</th><th>Visibilidad</th><th>Precipitación</th></tr></thead>
<tbody>

	  {% for datos in array_datos %}

	  <tr>
	      {% if radio_elegido == 'horas' %}
	      	<td>{{datos.temperature}}</td>
	      {% endif %}

	      {% if radio_elegido == 'dias' %}
		<td>{{datos.temperatureMax}}</td>
	      {% endif %}

	      <td>{{datos.humidity}}</td>
              <td>{{datos.windSpeed}}</td>
              <td>{{datos.windBearing}}</td>
              <td>{{datos.visibility}}</td>
              <td>{{datos.precipProbability}}</td>
          </tr>

	  {% endfor %}

  </tbody>
</table>


   </div>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 iDron Data Analyzer  
                </div>
                <div class="col-sm-6">
                 <div class="pull-right">
                   <p> Juan Francisco Rodríguez Vílchez </p>
                 </div>
                </div>

            </div>
        </div>
    </footer><!--/#footer-->
</body>
</html>
