<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Welcome: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Log out" onclick="location.href='/logout';" class="btn btn-warning" />
		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Edit profile" onclick="location.href='/editar_perfil';" class="btn btn-warning" />
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/grafico">Monitoring</a></li>
			<li><a href="/pronostico">Forecast</a></li>
                        <li><a href="/estadisticas">Statistics</a></li>
                        <li><a href="/geolocalizacion">Geolocation</a></li>
                        <li class="active"><a href="/METAR_TAF">METAR-TAFOR</a></li>                   
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

   <div style="background:transparent !important" class="jumbotron">

	{% if error != '' %}
		<div id="mensaje_error" class="alert alert-danger">{{error}}</div>
		</br>
		</br>
		</br>
	{% endif %}

	   <div class="panel panel-primary">
	      <h2 class="panel-heading"><b> METAR (Obtained from the nearest airport) </b></h2>
	      <div class="panel-body">
	      <label>{{array_metar.metar}} </label><br/>
	      <div style="font-size:80%">
	      <dl class="dl-horizontal">
		<label>Report was made {{array_metar.dia}} at {{array_metar.hora}} </label><br/>
		<dt>Temperature: </dt>
		<dd>{{array_metar.temperatura}}</dd>
		<dt>Atm. pressure:</dt>
		<dd>{{array_metar.presion_atmosferica}} </dd>
		<dt>Clouds: </dt>

	  	   {% for nube in array_metar.array_nubes %}
		   <dd> {{nube}} </dd>
		   {% endfor %}

		<dt>Visibility:</dt>
		<dd>{{array_metar.visibilidad}} </dd>
		<dt>Wind direction:</dt>
		<dd> {{array_metar.direccion_viento}} </dd>
		<dt>Wind gust:</dt>
		<dd>{{array_metar.rafaga_viento}} </dd>
		<dt>Wind speed: </dt>
		<dd>{{array_metar.velocidad_viento}} </dd>

	      </dl>
	     </div>
	     </div>

	   </div>
	   <br/>
	   <div class="panel panel-primary">
	      <h2 class="panel-heading"><b> TAFOR (Obtained from the nearest airport) </b></h2>

	      <div class="panel-body">
	      <label>{{array_tafN.taf}} </label><br/>
	      <div style="font-size:80%">
	      <dl class="dl-horizontal">
		<label>Report was made {{array_tafN.dia_taf}} at {{array_tafN.hora_taf}} UTC </label><br/>
		<dt>Max. temperature:</dt>
		<dd>{{array_tafN.max_temp}} </dd>

		<dt>Min. temperature:</dt>
		<dd>{{array_tafN.min_temp}} </dd>

	    {% set count = 0 %}
	    {% for taf in array_taf %}
		<label>Valid forecast from {{taf["dia"]}} at {{taf["hora"]}}:00 UTC until {{taf["dia_fin"]}} at {{taf["hora_fin"]}}:00 UTC </label></br>
		<dt>Atm. pressure:</dt>
		<dd>{{taf["presion"]}}</dd>

		<dt>Visibility:</dt>
		<dd>{{taf["visibilidad"]}} </dd>

		<dt>Clouds: </dt>

		   {% for j in range(2) %}
		   <dd> {{array_tafN.array_nubes_taf[count][j]}} </dd>
		   {% endfor %}
		   
		{% set count = count + 1 %}

		<dt>Wind speed:</dt>
		<dd>{{taf["dir_viento"]}} </dd>

		<dt>Wind gust:</dt>
		<dd>{{taf["rafaga_viento"]}} </dd>

		<dt>Wind speed: </dt>
		<dd>{{taf["vel_viento"]}} </dd>

	   {% endfor %}
	      </dl>
     </div>
     </div>
   </div>
   <p style="margin-top:50px"> For any questions concerning the interpretation of previous METAR and TAFOR, look at the following <a href="http://sto.iki.fi/metar/">link.</a>
  </div>

{{footer|safe}}

</body>
</html>
