<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/dron_geo.png" type="image/x-icon" />
    <title>iDron Data Analyzer</title>
	
	<!-- core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Ha iniciado sesión como: <b>{{sesion}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Cerrar sesión" onclick="location.href='/logout';" class="btn btn-warning" />
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/grafico">Monitorización</a></li>
			<li><a href="/pronostico">Pronóstico</a></li>
                        <li><a href="/estadisticas">Estadísticas</a></li>
                        <li><a href="/geolocalizacion">Geolocalización</a></li>
                        <li class="active"><a href="/METAR_TAF">METAR-TAF</a></li>
                        <li><a href="/streaming">Streaming</a></li> 
                        <li><a href="/editar_perfil">Editar perfil</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

   <div style="background:transparent !important" class="jumbotron">

{% if error != '' %}
<div id="mensaje_error" class="alert alert-danger">{{error}}</div>
</br>
</br>
</br>
{% endif %}

   <div class="panel panel-primary">
      <h2 class="panel-heading"><b> METAR (Obtenido del aeropuerto más cercano) </b></h2>
{% if error == '' %}
      <div class="panel-body">
      <label>{{metar}} </label><br/>
      <div style="font-size:80%">
      <dl class="dl-horizontal">
        <label>El informe se hizo el día {{dia}} a las {{hora}} </label><br/>
        <dt>Temperatura: </dt>
        <dd>{{temperatura}}</dd>
        <dt>Presión atmosf.:</dt>
        <dd>{{presion_atmosferica}} </dd>
        <dt>Nubosidad: </dt>

  	   {% for nube in array_nubes %}
	   <dd> {{nube}} </dd>
           {% endfor %}

	<dt>Visibilidad:</dt>
	<dd>{{visibilidad}} </dd>
	<dt>Dirección viento:</dt>
	<dd> {{direccion_viento}} </dd>
	<dt>Ráfaga viento:</dt>
	<dd>{{rafaga_viento}} </dd>
	<dt>Velocidad viento: </dt>
	<dd>{{velocidad_viento}} </dd>

      </dl>
     </div>
     </div>

{% endif %}
   </div>
   <br/>
   <div class="panel panel-primary">
      <h2 class="panel-heading"><b> TAF (Obtenido del aeropuerto más cercano) </b></h2>
{% if error == '' %}
      <div class="panel-body">
      <label>{{taf}} </label><br/>
      <div style="font-size:80%">
      <dl class="dl-horizontal">
	<label>El informe se hizo el día {{dia_taf}} a las {{hora_taf}} UTC </label><br/>
        <dt>Máx. temperatura:</dt>
	{% if max_temp == '' %}
		<dd>No hay información asociada </dd>
	{% else %}
		<dd>{{max_temp[2:4]}} ºC </dd>
	{% endif %}
		<dt>Min. temperatura:</dt>
	{% if min_temp == '' %}
		<dd>No hay información asociada </dd>
	{% else %}
		<dd>{{min_temp[2:4]}} ºC </dd>
	{% endif %}

{% set count = 0 %}
{% for taf in array_taf %}
        <label>Pronóstico válido del día {{taf["Start-Time"][:2]}} a las {{taf["Start-Time"][2:4]}} UTC hasta el día {{taf["End-Time"][:2]}} a las {{taf["End-Time"][2:4]}} UTC </label></br>
        <dt>Presión atmosf.:</dt>
	{% if taf.Altimeter == '' %}
		<dd>No hay información asociada </dd>
	{% else %}
		<dd>{{taf.Altimeter}}</dd>
	{% endif %}

		<dt>Visibilidad:</dt>
	{% if taf.Visibility == '9999' %}
		<dd>10km o más </dd>
	{% elif taf.Visibility == '' %}
		<dd>No hay información asociada</dd>
	{% else %}
		<dd>{{taf.Visibility}} m</dd>
	{% endif %}

        <dt>Nubosidad: </dt>

	   {% for j in range(2) %}
	   <dd> {{array_nubes_taf[count][j]}} </dd>
           {% endfor %}

	{% set count = count + 1 %}

	<dt>Dirección viento:</dt>
	{% if taf["Wind-Direction"] == '' %}
		<dd>No hay información asociada </dd>
	{% else %}
		<dd>{{taf["Wind-Direction"]}} º</dd>
	{% endif %}

		<dt>Ráfaga viento:</dt>
	{% if taf["Wind-Gust"] == '' %}
		<dd>No hay información asociada </dd>
	{% else %}
		<dd>{{taf["Wind-Gust"]}} nudos (KT)</dd>
	{% endif %}

		<dt>Velocidad viento: </dt>
	{% if taf["Wind-Speed"] == '' %}
		<dd>No hay información asociada </dd>
	{% else %}
		<dd>{{taf["Wind-Speed"]}} nudos (KT)</dd>
	{% endif %}


{% endfor %}
      </dl>
{% endif %}
     </div>
     </div>
   </div>
   <p style="margin-top:50px"> Para cualquier duda relacionada con la interpretación del METAR y TAFOR anteriores, consulte el siguiente <a href="http://www.proteccioncivil.es/catalogo/carpeta02/carpeta24/vademecum12/vdm043.htm">enlace</a>
  </div>

    <footer id="footer" class="midnight-blue">
	<img style="float:left;height:50px;margin-left:20px;" src="../static/images/dron_geo.png">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 iDron Data Analyzer  
                </div>
                <div class="col-sm-6">
                 <div class="pull-right">
                   <p> Juan Francisco Rodríguez Vílchez </p>
                 </div>
                </div>

            </div>
        </div>
    </footer><!--/#footer-->
</body>
</html>
