<!DOCTYPE html>
<html lang="en">

{{head|safe}}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<!--Freeow javascript alert-->
<script type="text/javascript" src="../static/js/jquery.freeow.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/freeow.css" />

<body class="homepage">
       <header id="header">
        <div class="top-bar">
            <div class="container">
                    <a href="http://www.ugr.es"><img id="logo-ugr" name="logo-ugr" src="../static/images/logo_ugr.png" alt="logo"></a>
                    <div id="mensaje_bienvenida" class="alert alert-success">Welcome: <b>{{user.usuario}}</b></div>
                    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Log out" onclick="location.href='/logout';" class="btn btn-warning" />
 		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Edit profile" onclick="location.href='/editar_perfil';" class="btn btn-warning" />
		    {% if user.tipo == 'admin' %}
 		    <input id="boton-cerrar" name="boton-cerrar" type="button" value="Users" onclick="location.href='/usuarios';" class="btn btn-warning" />
		    {% endif %}

            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/grafico">Monitoring</a></li>
			<li><a href="/pronostico">Forecast</a></li>
                        <li><a href="/estadisticas">Statistics</a></li>
                        <li><a href="/geolocalizacion">Geolocation</a></li>
                        <li><a href="/METAR_TAF">METAR-TAFOR</a></li>                     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

   <div style="background:transparent !important" class="jumbotron">

    <!-- Libreria proyecto js -->

    <script type='text/javascript' src='../static/js/iDronDataAnalyzer/utils_usuarios.js'></script>

    <button class="btn btn-success" onclick="location.href='/formRegistro';" type="submit"> New user</button>

    <div id="paginador">
	<table class="table table-striped table-hover">

	<thead><tr>
	<th>User Information</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></thead>
	<tbody id="myTableBody">

		  {% for user in usuarios %}

		  <tr>
		      <td style="font-size:14px;">{{user.usuario}}</td>
		      <td style="font-size:16px;">{{user.password}}</td>
		      <td style="font-size:16px;">{{user.nombre}}</td>
		      <td style="font-size:16px;">{{user.apellido}}</td>
		      <td style="font-size:16px;">{{user.correo}}</td>
		      <td style="font-size:16px;">{{user.telefono}}</td>
		      <td style="font-size:16px;">{{user.tipo}}</td>
		      <td><button id="{{user.id}}" class="btn btn-warning editarBoton" data-item="{{user.id}}" type="submit"> Edit</button><button style="margin-left:5%;" id="{{user.id}}" class="btn btn-danger borrarBoton" data-item="{{user.id}}" type="submit"><i class="fa fa-trash"></i></button></td>
		  </tr>

		  {% endfor %}

	</tbody>
	</table>

	<div class="col-md-12 text-center">
	    <ul class="pagination pagination-lg pager" id="myPager"></ul>
	</div>
   </div>>
   </div>

</div>

</div>
</div>

<div id="freeow-tr" class="freeow freeow-top-right"></div

{{footer|safe}}

</body>
</html>
